body {
    padding-top: 5rem;
}

.stream-attribute {
    font-variant: small-caps;
    vertical-align: super;
    font-size: x-small;
}

.stream-attribute-drm:after {
    content: "DRM";
}

.stream-attribute-good {
    color: green;
}

.stream-attribute-bad {
    color: red;
}